.main-top-left-title{
    width: 618px;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
}
.main-top-left-text{
    width: 557px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.main-top-btn{
    margin-top: 24px;
}
.main-top-btn>a{
    padding: 18px 32px;
    background: #f58a07;
    border-radius: 27px;
    color: #fff;}
.main-top-left{
    margin-right: 46px;
}
.main-top-all{
    margin-top: 107px;
    display: flex;
}
.main-top-right-img{position: relative;}
.main-top-right-box{
    width: 180px;
    height: 650px;
    transform: rotate(-180deg);
    position: absolute;
    top: 0;
    background:#f58a07;
    mix-blend-mode: multiply;
    border-radius: 0px 19px 20px 0px;
}
.main-center{
    margin-top: 128px;
}
.main-center-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.all-card{
    width: 400px;
    background: rgba(193, 228, 255, 0.3);
    border-radius: 20px;
    padding: 32px 40px;
}
.allcard-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.allcard-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #394149;
    opacity: 0.6;
}
.allcard-btn{
    margin-top: 32px;
}
.allcard-btn>a{
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    color: #F58A07;
    
}
.main-center-allcard{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}